body {
    font-family: Arial, sans-serif;
    text-align: center;
}

nav {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

#crypto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.crypto-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}
